[submodule "CybikoTUI"]
	path = CybikoTUI
	url = git@github.com:amovitz/CybikoTUI.git
[submodule "CybikoStuff"]
	path = CybikoStuff
	url = git@github.com:amovitz/CybikoStuff.git
[submodule "Pybiko"]
	path = Pybiko
	url = git@github.com:amovitz/Pybiko.git
