# /etc/systemd/system/Pybiko.service

[Unit]
Description=Run Pybiko whenever USB is detected
DefaultDependencies=no

# Run when USB device is enumerated
After=dev-cybiko.device

# Start after the root filesystem is mounted
After=local-fs.target
Requires=local-fs.target

After=networking.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/src/Pybiko/Pybiko.py
Restart=on-failure
RestartSec=2
StartLimitIntervalSec=15
StartLimitBurst=5

# Optional if the script writes to stdout/stderr
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
