# /etc/systemd/system/Pybiko.service

[Unit]
Description=Run Pybiko whenever USB is detected
DefaultDependencies=no

# Run when USB device is enumerated
After=dev-cybiko.device
Requires=dev-cybiko.device

# Start after the root filesystem is mounted
After=local-fs.target
Requires=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/src/Pybiko/Pybiko.py
Restart=no

# Optional if the script writes to stdout/stderr
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target
